{% extends "Main/base.html" %}

{% block content %}

<main class="container py-5">

    <h1 class="text-center mb-5">
        Vista en detalle de una publicación
    </h1>

    <ul class="list-unstyled fs-5">

        <li class="mb-2">
            <strong>Título:</strong> {{ post.titulo }}
        </li>

        <li class="mb-2">
            <strong>Autor:</strong> {{ post.autor }}
        </li>

        <li class="mb-2">
            <strong>Contenido:</strong> {{ post.contenido|safe }}
        </li>

        <li class="mb-2">
            <strong>Fecha de publicación:</strong>
            {{ post.fecha_publicacion|date:"d \d\e F \d\e Y \a \l\a\s H:i" }}
        </li>

        <li class="mb-2">
            <strong>Estado:</strong>

            {% if post.estado == "B" %}
                Borrador
            {% else %}
                Publicado
            {% endif %}

        </li>

    </ul>

    <a href="{% url 'blog:post_list' %}">
        Volver
    </a>

</main>

{% endblock %}