{% extends "Main/base.html" %}

{% block content %}

<main class="container py-5 text-center">

    <h1 class="mb-4">
        Eliminar una Publicación
    </h1>

    <p class="fs-5">
        ¿Está seguro de que desea eliminar la publicación?
        <strong>{{ post.titulo }}</strong>
    </p>

    <form method="post">

        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Confirmar
        </button>

    </form>

    <br>

    <a href="{% url 'blog:post_list' %}">
        Volver
    </a>

</main>

{% endblock %}